<%= link_to 'Add book', new_book_path %>

<% @users.each do |user| %>
  <a href='/users/<%= user.id %>'><div class="well">
    <% if user.avatar_file_name %>
      <img src="<%= user.avatar %>" alt="avatar" class="avatar" />
    <% end %>
    <span id='email'><%= user.email %></span>
  </div></a>
<% end %>
